<!-- ----------------- VISTA EDIT ----------------- -->

<div class="formulario">
	<!-- <h1>Editar articulo</h1> -->
	<%= render "form", name: "Editar", boton: "Actualizar" %> <!-- Con esto llamamos al parcial "_form.html" -->
</div>