<div class="container-fluid">
	<h1>Articulos</h1>

	<div class="row">
		<%= render @articles %> <!-- Itera en articles y llama al parcial _article.html.erb -->
	</div>
	<div class="top-space text-center">
		<%= will_paginate @articles %>
	</div>
</div>
