<!-- --------------- VISTA INDEX ------------------ -->

<% @articles.each do |articulo| %>
	<h1><%= link_to articulo.title, articulo %></h1>
	<div>
		<%= articulo.body %>
	</div>
<%end%>
<%= will_paginate @articles %>