<!-- --------------------- VISTA NEW ------------------------ -->

<div class="formulario">
	<!-- <h1>Crear articulo</h1> -->
	<%= render "form", name: "Crear", boton: "Crear" %> <!-- Con esto llamamos al parcial "_form.html" -->
</div>